* {
  font-family: 'Playfair Display', serif;
}

/* Reset default margin */
body {
  margin: 0;
}

/* Header and Title Section */
.topnav {
  /* Background gradient */
  background-image: linear-gradient(to top, #237f5e 100%, #08452c 0%);
  padding: 10px;
  margin: 0;
}

.topnav a {
  /* Navigation links styling */
  font-size: 22px;
  font-weight: bold;
  color: #feffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#title-section {
  /* Title section styling */
  background-image: linear-gradient(to top, #08452c 0%, #237f5e 100%);
  margin: 0;
  padding: 180px; /* Increase the padding to make the section taller */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Move the title to the right side */
  align-items: flex-start; /* Center the content vertically */
}

#title-section h1 {
  /* Main title styling */
  color: white;
  -webkit-text-stroke: 1px whitesmoke;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  display: flex;
  text-align: right;
  margin: 0 0 10px 0; /* Add margin-bottom to create space */
  order: -1; /* Set order to -1 to move it to the top */
}

#title-section h2 {
  /* Subtitle styling */
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  order: 2;
  -webkit-text-stroke: 1px whitesmoke;
}

/* Quote Section */
.quoteB {
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.quote-container {
  animation: slideIn 1s ease-in-out forwards;
}


#learning-journey {
  /* Learning journey section styling */
  background-color: #196B4B;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  color: white;
  box-shadow: 0 -3px 3px -2px rgba(0, 0, 0, 0.5);
}

/* Carousel Section */
.carousel-container {
  /* Carousel container styling */
  width: 100%;
  overflow: hidden;
  background-color: #196b4b;
  position: relative;
}

.carousel-wrapper {
  /* Carousel wrapper styling */
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 6); /* Adjust the width based on the number of projects */
  transform: translateX(-100%); /* Adjust the translation based on the number of projects */
}

.carousel .project-container:last-child {
  margin-right: 0; /* Set the margin-right to 0 for the last project container */
}

.carousel .project-container:first-child {
  margin-left: 20px; /* Remove the margin-left from the first project container */
}

.carousel {
  /* Carousel styling */
  width: 100%;
  overflow: hidden;
}

.project-container {
  /* Individual project container styling */
  flex: 0 0 calc(100% / 3);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel .project-container {
  /* Individual project container styling */
  flex: 0 0 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.carousel .project-container:not(:first-child) {
  /* Adjust the margin space */
  margin-left: 0;
}

.container-content {
  /* Container content styling */
  width: 250px;
  padding: 20px;
  margin-right: 40px;
  position: relative;
  overflow: hidden;
  background-clip: padding-box;
  background-color: #196b4b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.arrow-navigation {
  /* Arrow navigation container styling */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prev-button,
.next-button {
  /* Arrow button styling */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 48px;
  color: white;
  margin: -10px 10px 5px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #196b4b;
}

.container-content h4 {
  /* Heading styling */
  margin: 0;
  padding: 0;
}

h4 {
  /* Heading 4 styling */
  color: whitesmoke;
  -webkit-text-stroke: 0.5px whitesmoke;
}

.box-image {
  /* Image container styling */
  position: relative;
  margin-bottom: -10px;
  margin-top: 10px;
}

p {
  /* Paragraph styling */
  margin: 0;
  padding: 0;
  font-size: 48;
}



.project-container .box-image {
  /* Project container box image styling */
  position: relative;
  overflow: hidden;
  height: 160px;
}

.project-container .box-image img {
  /* Project container box image styling */
  width: 100%;
  height: 90%;
  object-fit: cover;
  border: 1px solid black;
}

.project-container .overlay {
  /* Overlay styling */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-container .overlay a.github-link {
  /* GitHub link styling */
  color: white;
  text-decoration: none;
}

.project-container .box-image:hover .overlay {
  opacity: 1;
}

.github-link {
  /* GitHub link styling */
  color: white;
  text-decoration: none;
}

.project-container .overlay a {
  /* Overlay link styling */
  color: white;
  text-decoration: none;
}

.project-container .text {
  /* Project container text styling */
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.textT {
  /* Centered text styling */
  text-align: center;
}

.topnav a,
.container-content a {
  /* Navigation and container content links styling */
  text-decoration: none;
}

#testimonials-section {
  /* Testimonials section styling */
  background-color: #ffdc82;
}

#footer {
  /* Footer styling */
  background-image: linear-gradient(to top, #08452c 0%, #237f5e 100%);
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
}

.contact-section {
  /* Contact section styling */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section h2 {
  /* Contact section heading styling */
  font-size: 42px;
  font-weight: 700;
  margin-right: 10px;
}

.footer-content {
  /* Footer content styling */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section {
  /* Left section styling */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.feedback-text {
  /* Feedback text styling */
  white-space: pre-line;
  font-size: 22px;
  margin-top: auto;
}

.feedback-form {
  /* Feedback form styling */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form textarea {
  /* Feedback form textarea styling */
  width: 90%;
  max-width: 300px;
  height: auto;
  resize: vertical;
  border: 1px solid #ccc;
  order: 1;
}

.feedback-form input[type="submit"] {
  /* Feedback form submit button styling */
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: white;
  color: #237f5e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  order: 2;
  height: auto;
  width: 100px;
}

.right-section {
  /* Right section styling */
  color: white;
  text-align: right;
  padding-left: 80%;
  font-size: 22px;
  align-self: flex-end;
}

#about-section {
  /* About section styling */
  background-color: #faf0dc;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#testimonials-section {
  /* Testimonials section styling */
  background-color: #faf0dc;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}




/* Mobile Portrait */
@media only screen and (max-width: 480px) {
  /* Adjust the navigation */
  .topnav {
    text-align: center;
  }
  
  .topnav a {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Adjust the title section */
  #title-section {
    text-align: center;
    padding: 20px;
  }
}