* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgb(44, 41, 41);
    color: #999;
    
}

ul {
    list-style: none;
}

h1 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0-5rem 0;
}

img {
    width: 100%;
}

/* Style the header */ 
header {
    background-color:#0d2870;
    color: white;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 1em;
  }

  .navbar-nav .nav-item .nav-link {
	color: white;
	font-weight: bold;
}

#head-navbar {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
  }

  .nav>li {
    display: inline-block;
    width:initial;
    white-space: nowrap;
  }
  .nav { 
    display: inline-block;
  }

  .navbar-nav .nav-link {
    margin-right: 20px;
}

.showcase {
    width: 100%;
    height: 93vh;
    background-image: url('../MovieData/backimage.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.4;
}

.showcase {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

form {
  width: 500px;
  margin: 50px auto;
}

input[type="text"] {
    padding: 14px 20px;
    background-color: #f1f1f1;
    border: 0px solid #221f1f;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) 0 6px 2opx p rgba(0,0,0,0.19);
    width: 800px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 20%;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: 0px solid #221f1f;
    padding: 14px 20px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
    height: fit-content;
    vertical-align: middle;
    position: absolute;
    top: 30%;
    left: 82.5%;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

